---
import PlaybtnIcon from '/images/playbtn.svg';
import { Markdown } from 'astro/components';

const GqlQuery = `{
    todoDetails(sort: "createdAt:desc") {
	    data{
	      	id
	      	attributes{
		        title
                body
		        main_Image{
		            data{
		                id
		                attributes{
		                    url
		                    alternativeText
		                }
		            }
		        }
		        slug
		    }
		}
	}
}`;


const url = `${import.meta.env.Assets_URL}`;

const response = await fetch(`${import.meta.env.DB_URL}`,
	{
	    method:'POST',
	    headers: {
	    	'Content-Type':'application/json',
	    	'Authorization': `Bearer ${import.meta.env.ACCESS_TOKEN}`
	    },
	    body: JSON.stringify({
	      query: GqlQuery,
	    })
	});

const data = await response.json();
const todo_card = data.data.todoDetails.data;
---

<div class="wrapper overflow-x-hidden px-8 lg:px-3 py-36 mx-auto">
	<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 justify-items-center mx-auto defaultCardContainer">

	    {todo_card.map(({ attributes }) => (
			<div class="defaultCard" key={attributes.title} role="listitem" aria-label={attributes.title}>
				<div class="overflow-hidden defaultCardImgContainer">
    				<a href={`posts/` + attributes.slug} class="cursor-pointer">
    					<img class="w-full h-full object-cover" src={url + attributes.main_Image.data.attributes.url} alt={url + attributes.main_Image.data.attributes.alternativeText} />
    				</a>
    			</div>
    			<div class="px-4 md:px-3 lg:px-4 pt-6 pb-5 md:py-3 lg:pb-10">
					<div class="mb-2 text-lg font-bold color-green-pea">
						<a href="/todoDetails" class="cursor-pointer">{attributes.title}</a>
					</div>
					<a href={`posts/` + attributes.slug}>
						<div class="text-xs lg:text-sm leading-3 md:leading-4 mb-2 prose prose-a:no-underline prose-a:font-normal max-w-none defaultCardTxt">
							<Markdown>{attributes.body}</Markdown>
						</div>
					</a>
					<div class="flex items-center gap-1 md:gap-2.5">
						<div class="text-xs font-bold tracking-widest color-yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
						<p class="text-sm font-semibold">4.7</p>
						<p class="text-xs font-semibold">(19)</p>
    				</div>
				</div>
			</div>
		))}
	</div>
</div>